@page
@using Microsoft.Extensions.Localization
@using CommunityAbp.Hangfire.PasswordAuthorization.Localization
@using CommunityAbp.Hangfire.PasswordAuthorization.Web.Pages.PasswordAuthorization
@model CommunityAbp.Hangfire.PasswordAuthorization.Web.Pages.PasswordAuthorization.IndexModel
@inject IStringLocalizer<PasswordAuthorizationResource> L

@{
}
<h1>PasswordAuthorization</h1>
<p>@L["SamplePageMessage"]</p>
